footer
	.container(layout='row' layout-align='space-around center')
		div
			a(href='about') About&nbsp;&nbsp;&#x25cf;
			a &nbsp;&nbsp;sehwagsahil002@gmail.com&nbsp;&nbsp;&#x25cf;
			a &nbsp;&nbsp;loadingritik@gmail.com&nbsp;&nbsp;