#tabs-container
    width: 100%
    padding-top: 30px
    margin:
        left: auto
        right: auto
    md-tabs
        height: 160%
        .md-tab
            font-weight: 600
        md-tabs-content-wrapper
            height: 100%
            width: auto
        md-tab-content
            width: 90%
            padding:
                left: 5%
                right: 5%
                bottom: 5%
            margin:
                top: 2%
                top: 2%

td,
th
    font-size: 0.9em
    &:nth-of-type(2)
        padding:
            left: 20px
    text-align: center
td:nth-child(0n+1)
    font-weight: 600


.pagination
    font-size: 1.4em
    li
        border-radius: 0% !important
    li.active
        background: #7071ff
        color: #FFF


html.md-default-theme, html, body.md-default-theme, body
    background-color: #FFF