#tabs-container
    width: 100%
    padding-top: 30px
    //background-color: rgba(234, 234, 234, 0.72)
    margin:
        left: auto
        right: auto
    md-tabs
        height: 100%
        .md-tab
            font-weight: 600
        md-tabs-content-wrapper
            height: 100%
        md-tab-content
            width: 70%
            padding:
                left: 5%
                //right: 5%
            margin:
                top: 2%

td
    font-size: 0.9em
td:nth-child(0n+1)
    font-weight: 600
