extends ../layouts/layout
block main
	ol.breadcrumb
		li.active
			a(href='/about') About
	.container.about
		h1 About&nbsp;
			small &nbsp; Sahil Sehwag
			small &nbsp;& Ritik Chhillar
		p#about.
			We, Team Codengineers are currently CSE,B.Tech students at AIACT&R,IPU. IPUSimplified is our Project
			for exercising Java for Web Development. We feel a great joy to develop practical applications that
			could ease up complexity with creativity. Today's world demands solutions that kills unnecessary
			overhead or redundant information, we try to optimize our products following this philosophy.<br> <br>
			IPUSimplified was primarily developed with a motive to learn and practise variours technologies used in web development. Java was the primary domain in the project though.<br>
				&nbsp;&nbsp;&nbsp;&nbsp;Frontend Technologies Used in project:<br>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Jade,Sass,Coffeescript, AngularJS, Angular Material, Bootstrap<br>
				&nbsp;&nbsp;&nbsp;&nbsp;Backend Technologies used are:<br>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Java, Spring, SpringMVC, Hibernate<br>
				&nbsp;&nbsp;&nbsp;&nbsp;Database Technologies:<br>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;MySQL<br>
		#developers
			#sahil.dev.row
				div.col-lg-4
					img(src="https://scontent.fdel1-1.fna.fbcdn.net/v/t1.0-9/16298675_1884043675205091_6427592091565242850_n.jpg?oh=ad528c0c0f70ade9db0ba20f43c9384b&oe=5948C1B0")
				.content.col-lg-8
					.name SAHIL SEHWAG
					.desc.
						Sahil studies in AIACTR, GGSIPU in B.TECH/CSE Course. Since this was written by himself at last moment so just copying and pasting Ritik's paragraph JUST KIDDING!!!. He worked as both Frontend and Backend Developer in project. Learning new stuff is one of his passion. In spare time he likes to do personal programming and create scripts for easing his own tasks, even though he does nothing much that can be exhaustive. Low on creativity gotta GO.
					.links
						a(href='') Github&nbsp;&nbsp;&#x25cf;
						a(href='') &nbsp;&nbsp;Bitbucket&nbsp;&nbsp;
			#ritik.dev.row
				div.col-lg-4
					img(src="https://scontent.fdel1-1.fna.fbcdn.net/v/t1.0-9/16195059_1884043645205094_8314525120952355330_n.jpg?oh=96ce5377324a9ccdcb2d0e275fb097b1&oe=590F8902")
				.content.col-lg-8
					.name RITIK CHHILLAR
					.desc.
						Ohhh!!! Time to praise myself. I know developer's profile should be written by a third person but being a small team of only two members I have to praise myself here :p. I am currently studying B.Tech from AIACT&R, IPU, delhi. I like to participate in Competitive Programming challenges and converting small thoughts into big convenience to users.My main job was to do backend, fix bugs and almost everything, you know ;).
					.links
						a(href='') Github&nbsp;&nbsp;&#x25cf;
						a(href='') &nbsp;&nbsp;Bitbucket&nbsp;&nbsp;
