footer
	.container(layout='row' layout-margin layout-align='space-around center')
		.col(flex)
			.title HEADING
			.link
				a(href='#') Link
			.link
				a(href='#') Link
			.link
				a(href='#') Link
		.col(flex)
			.title HEADING
			.link
				a(href='#') Link
			.link
				a(href='#') Link
			.link
				a(href='#') Link
		.col(flex)
			.title HEADING
			.link
				a(href='#') Link
			.link
				a(href='#') Link
			.link
				a(href='#') Link