footer
	.container(layout='row' layout-margin layout-align='space-around center')
		.col(flex)
			.title HEADING
			.link
				a(href='#') Link
			.link
				a(href='#') Link
			.link
				a(href='#') Link
		.col(flex)
			.title ABOUT
			.link
				a(href='about') About Us
			.link
				a(href='#') Developers
			.link
				a(href='#') Sitemap
		.col(flex)
			.title CONTACT
			.link
				a Email 1 : something@gmail.com
			.link
				a Email 2 : someting2@gmail.com
			.link
				a(href='contact') Message Us