head
	title Ipunagri

	//REQUIREJS
	script(data-main="js/config", src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.2.0/require.min.js")
	script.
		require(['config'], function() {
			require(['jquery'])
			require(['angular'])
			require(['angular-route'])
		});
		require(['main'], function(){});

	link(rel='styleSheet' href='css/main.css')
	link(rel='styleSheet' href='https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.0/angular-material.min.css')